# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
env/

# Ignore database files
instance/*.db

# Ignore VS Code config
.vscode/

# Ignore OS system files
.DS_Store
Thumbs.db
